<% include partials/header.ejs %>

<body>
    <div class="container search">
            <div class="jumbotron">
                <h1>Event Search</h1>
                <div class="container">
                    <label>State Code:</label>
                    <input type="search" class="form-control" id="stateCode" placeholder="Enter state code... ex: CA"><br>
                </div>
                <hr>
                <div id="events" class="container">

                </div>
            </div>
    </div>
</body>

<% include partials/footer.ejs %>